// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* to compile this run: npm run dev */

$dark-theme: true;
@if $dark-theme {  
  [type=text]:not(:disabled),
  [type=email]:not(:disabled),
  [type=password]:not(:disabled),
  [type=number]:not(:disabled),
  textarea:not(:disabled),
  select:not(:disabled),
  {
    background-color: #363b3f !important;
    color: white !important;
  }
  body {
    color: white;
    background-color: #292e33;
  }
  .text-muted {
    color: white !important;
  }
  .card {
    color: white !important;
    background-color: #383d42 !important;
  }
}

/* custom buttons */
.btn-accent {
  background: #ff005edb;
  color: white;
}
.btn-white {
  border-color: #9e9e9e;
  border-width: thin;
  color: black;
  background-color: #fafafa;
}
